.ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.ul li{
    padding: 7px;
    border-radius: 999px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
}
.ul li:hover{
    background-color: rgb(2, 35, 35);
    

}
.container{
    height: 100px;
    width: 100%;

    justify-content: space-between;
    background-color: rgb(3, 54, 54);
}
.head{
    padding: 10px;
    list-style: none;  /* Supprime les points */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.filter{

}
