.sidebarContainer{
    
    background-color: #1d1f1f;
    height: 100vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.topElement,.bottomElement{
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.topElement{
    padding: 0;
}

.bottomElement{
    list-style-type: none;
}
.li:hover{
    background-color: #292a2a;
    

}
.li{
    padding: 7px;
    border-radius: 999px;
    width: 35px;
    height: 35px;
    transition: 0.5s;
}
.badge{
    position: relative;
    bottom: 38px;
    left: 18px;
    font-size: 14px;
    padding: 2px;
    background-color: #21c063;
    width: 15px;
    height: 15px;
    color: black;
    border-radius: 999px;
}
