.sidebarContainer{
    background-color: blue;
    height: 100vh;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.topElement,.bottomElement{
    background-color: rgb(4, 49, 49);
    list-style-type: none;
}

.bottomElement{
    background-color:  rgb(4, 49, 49);;
    list-style-type: none;
}